#image-container {
    max-width: auto;
    max-height: 100%;
    justify-items: center;
   
}

#text{
    color: white !important;
}

.prueba{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 0; /* Elimina cualquier relleno predeterminado */
    background-image: url(/static/fondo.jpg) !important;
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}